html, body{
  padding: 0;
  margin: 0;
}

@font-face{
  font-family: 'dank';
  src: url('../Dank_Mono_Regular.otf');
}

body{
  background-color: #131418;
  font-family: "dank";
}

h1{
  color: #47cf73;
  font-size: 50px;
  margin-left: 2%;
}

p{
  color: #868ca0;
  font-size: 20px;
  width: 95%;
  margin-left: 2%;
}

video{
  width: 90%;
  height: 400px;
  margin: 0 auto;
  display: block;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

pre{
  color: #868ca0;
  font-size: 20px;
  width: 95%;
  margin-left: 2%;
}

.code{
  background-color: red;
  height: 30%;
  width: 95%;
  border-radius: 5px;
  border: 3px solid #868ca0;
  background-color: #1d1e22;
  margin-left: 2%;
}

.purple{
  color: #c678dd;
}

.blue{
  color: #61afef;
}

.red{
  color: #e06c75;
}

.green{
  color: #98c379;
}
